[Unit]
Description=HokieGeek.net_TeaDbDev
After=docker.service,hgnetwork.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill site-teadb-dev
ExecStartPre=-/usr/bin/docker rm site-teadb-dev
ExecStartPre=/usr/bin/docker pull registry.gitlab.com/hokiegeek.net/teadb:SNAPSHOT
ExecStart=/usr/bin/docker run --name site-teadb-dev --network hokiegeek.net registry.gitlab.com/hokiegeek.net/teadb:SNAPSHOT
ExecStop=/usr/bin/docker stop site-teadb-dev
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
