[Unit]
Description=HokieGeek.net_TeaDb
After=docker.service,hgnetwork.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill site-teadb
ExecStartPre=-/usr/bin/docker rm site-teadb
ExecStartPre=/usr/bin/docker pull registry.gitlab.com/hokiegeek.net/teadb:latest
ExecStart=/usr/bin/docker run --name site-teadb --network hokiegeek.net --volume /etc/hgteadb:/conf registry.gitlab.com/hokiegeek.net/teadb:latest
ExecStop=/usr/bin/docker stop site-teadb
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
