[Unit]
Description=HokieGeek.net_TeaDb
After=docker.service,hgnetwork.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill teadb
ExecStartPre=-/usr/bin/docker rm teadb
ExecStartPre=/usr/bin/docker pull {{ image }}
ExecStart=/usr/bin/docker run --name teadb --network hokiegeek.net --volume /etc/hgteadb:/conf {{ image }} --project hokiegeek-net
ExecStop=/usr/bin/docker stop teadb
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
